<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
    <meta name="author" content="{{ site.author }}">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="{{site.title}}">
	</head>
  <body>
    {{ content }}
    <aside>
      <section>
        <h3>{{site.author}}</h3>
      </section>
    </aside>
  </body>
</html>
