---
layout: default
title: Ben Woodward - Ruby on Rails Developer
---

<nav>
  <ul>
    {% for post in site.posts %}
      <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <time>{{ post.date | date_to_string }}</time>
      </li>
    {% endfor %}
  </ul>
</nav>
